.cabecalho-perfil{
	margin-left:3%;
	margin-top:2%;

}

.menu-perfil{
	margin-top:-1.2%;
	margin-left:0.5%;
	
}

.meu-grid {
	margin-left: -20.1rem !important;
	margin-right: 20rem !important;

}

.meu-item {
	text-align: center !important;
}

.meu-card {
	width: 100% !important;
}

.subtitle {
	padding:0 !important;
}

.subtitle h5{
	font-weight: normal !important;
}

.avaliacao-profissional {
	text-align: center;
}

.meu-modal {
	margin: ;
}

.minha-mensagem {
	margin-left: 0;
}

.pagina{
	display: none ;
}

#envia_resposta{
	display: none ;
}

#envia_resposta{
	display: none ;
}
.texto_resumido {
	text-align: justify;
}


.texto_resumido, .texto_artigo {
	text-align: justify;
}

.sem-borda{
	border: none !important;
}

.botao-invisivel{
	visibility: hidden !important;
}
s
.foto-pro-mensagem{
	width: 15%;
	height: 15%;
	border-radius: 50%;
}

.imagem-div{
	margin: none;
	border-radius: 50%;
}



.chat-history{
	
	margin-bottom: 15px;
	overflow-y: scroll;
	height: 320px;
	width: 100%;
	bottom: 100%;
	left: 7%;
	border: solid transparent;
}

.clearfix{
	margin:4px;
}
.clearfix:after {
	  visibility: hidden;
	  display: block;
	  font-size: 0;
	  content: " ";
	  clear: both;
	  height: 0;
	  
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  background-color: #fff;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: black;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 20px;
  width: 80%;
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #bbbbda;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history{
  background: #bbbbda;
}
.chat .chat-history .other-message {
  background: #94C2ED;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #94C2ED;
  left: 80%;
}
.chat .chat-message {
  padding: 30px;
  width: 100%
}
.chat .chat-message{
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}
.me {
  margin-right: 3px;
  font-size: 10px;
  color: #94C2ED;
}
.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
	  visibility: hidden;
	  display: block;
	  font-size: 0;
	  content: " ";
	  clear: both;
	  height: 0;
	  margin:4px;
}

.resposta{
  display: none;
}